* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

body {
    height: 100vh;
    background-image: url(./mac.jpg);
    background-size: cover;
    background-position: center center;
}

#type {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 500px;
    color: white;
    font-size: 1.5em;
}